html, body {
    font-family: 'Roboto', sans-serif;
    
}


// Here you can add other styles
.sidebar-fixed .sidebar, .sidebar .nav, .sidebar .sidebar-nav {
    width: 240px;
}

.breadcrumb{
    padding: 0.75rem 6rem;
}

.app-footer{
    padding: 0 6rem;
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -240px;
}

.input-group-text{
    border: 0px solid #e4e7ea;
}


.is-invalid {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ecc6e9, #efa5ce, #efa5ce);

}

.is-invalid {
    animation:is-invalid .5s 1;
    -webkit-animation:is-invalid 1s 1;
    animation-fill-mode: forwards;
}

@keyframes is-invalid{
    from {opacity :0;}
    to {opacity :1;}
}

@-webkit-keyframes is-invalid{
    from {opacity :0;}
    to {opacity :1;}
}

.invalid-feedback {
    animation:invalid-feedback .5s 1;
    -webkit-animation:invalid-feedback 1s 1;
    animation-fill-mode: forwards;
}


@keyframes invalid-feedback{
    from {opacity :0;}
    to {opacity :1;}
}

@-webkit-keyframes invalid-feedback{
    from {opacity :0;}
    to {opacity :1;}
}

@media (min-width: 576px) and (min-width: 992px) {
    margin-left: -30px !important;
}

 .nav .nav-dropdown-toggle, .nav .nav-dropdown-items{
    border-bottom: 1px solid #20a8d8 !important;
}

.custom-file-upload{

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.navbar-toggler {
    padding-left: 52px;
    outline: none;
}
.left-toggler {
    min-width: 140px !important;
    outline: none !important;
}

@media (max-width: 991.98px) {
   
    .left-toggler{
        min-width: 50px !important;
        outline: none !important;
    }
}

li.nav-item.active {
    background-color: #20a8d8;
}
